<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="POST">
        <div>Imię: <input type='text' name='imie' value='<%=""%>' /></div>
        <div>Nazwisko: <input type='text' name='nazwisko' value='<%=""%>' /></div>
        <div>Nazwa Przedmiotu: <input type='text' name='przedmiot' value='<%=""%>' /></div>

        <div>
            <div> Zadanie 1: <input type='number' name="zad1" /> </div>
            <div> Zadanie 2: <input type='number' name="zad2" /> </div>
            <div> Zadanie 3: <input type='number' name="zad3" /> </div>
            <div> Zadanie 4: <input type='number' name="zad4" /> </div>
            <div> Zadanie 5: <input type='number' name="zad5" /> </div>
            <div> Zadanie 6: <input type='number' name="zad6" /> </div>
            <div> Zadanie 7: <input type='number' name="zad7" /> </div>
            <div> Zadanie 8: <input type='number' name="zad8" /> </div>
            <div> Zadanie 9: <input type='number' name="zad9" /> </div>
            <div> Zadanie 10: <input type='number' name="zad10" /> </div>
        </div>

        <button>Zapisz</button>
    </form>
</body>

</html>